@media (max-width: 1150px) {

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "sidebar"
            "content2"
            "content3";
        max-height: 2000px;
          
    }
    
    #sidebar{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "box1"
        "box2";
        grid-area: sidebar;
         
    }

    .box1{
        margin-bottom: 5%;
        margin-right: 0;
    }

    .box2 {
        margin-left: 0;
    }
    .box1, .box2 {
        padding-bottom: 7%;
    }

    .lagunabeachp, .newportbeachp {
        margin-top: 10%;
        padding-bottom: 5%;
    }

    .content3 {
        max-width: 90%;
    }
  /*---------Nav ----------*/
  /* small view navigation */
#hamButton {

    display: block;
    margin: 0 auto;
    font-size: 2rem;
    padding: .3rem;
    color: white;
    background-color: transparent;
    border: none;

}

.navigation {
	display: flex;
	flex-direction: column;
    align-items: center;
	list-style: none;
	background-color: #33b864;
    margin: 0;
    padding: 0;
}
.navigation li {
	display: none;
}

.social-facebook {
    display: none;
}

.social-twitter {
    display: none;
}
.social-instagram {
    display: none;
}
.navigation li a {
	padding-bottom: 1rem;
    padding-top: 1rem;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
    transition: 0.7s ease;
	color:#FFA047;
	font-weight: 700;
    margin-left: 10rem;
    margin-right: 10rem;
}

/* when the button is clicked - the responsive class is added and accounted for here */
.navigation.responsive li {
	display: block;
	width: 100%;
}

.navigation.responsive .social-facebook, .social-instagram {
    display: block;
    padding-bottom: 10px;
}

.navigation.responsive li a {
	display: block;
}
}

@media (max-width: 950px) {

    #content3 {
        max-width: 300px;
    }
    .forecast {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 5px solid white;
        max-width: 300px;
    }

    fieldset {
        max-width: 300px;
    }

    header {
        padding-left: 5%;
        padding-right: 5%;
    }

    .fruitbanner {
       max-width: 400px;
    }
}

